[submodule "frontend"]
	path = frontend
	url = https://github.com/raiden-20/Messenger-frontend.git
[submodule "design"]
	path = design
	url = https://github.com/raiden-20/Messenger-design.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/raiden-20/Messenger-authService.git
[submodule "mail-sender"]
	path = mail-sender
	url = https://github.com/raiden-20/Messenger-mailSender.git
[submodule "social-service"]
	path = social-service
	url = https://github.com/raiden-20/Messenger-socialService.git
[submodule "file-service"]
	path = file-service
	url = https://github.com/raiden-20/Messenger-fileService.git
[submodule "blog-service"]
	path = blog-service
	url = https://github.com/raiden-20/Messenger-blogService.git
