[submodule "frontend"]
	path = frontend
	url = https://github.com/raiden-20/Messenger-frontend.git
[submodule "design"]
	path = design
	url = https://github.com/raiden-20/Messenger-design.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/raiden-20/Messenger-authService.git
